/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #fff;
    color: #555;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #168fa1;
}

#sidebar .sidebar-container {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    position: fixed;
    z-index: 1000;
    box-shadow: .2rem .125rem .25rem rgba(0,0,0,.075)!important;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #168fa1;
}

#sidebar ul p {
    color: #555;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #f0f0f0;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #555;
    background: #fff;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}

.wrapper {
    display: flex;
    width: 100%;
}

.width-full {
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}